.persons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.personCard{
    width: 300px;
    height: 350px;
    border: 3px solid;
    text-align: center;
    font-size: 13px;
}

.personImage{
    width: 100%;
    height: 75%;
    margin: 0 auto;
}
.personImage img{
    width: 100%;
    height: 100%;
}
hr{
    margin-bottom: 80px;
}
h1{
    text-align: center;
    font-size: 100px;
    color: #46d2e0;
    margin-bottom: 0;
}
h2{
    font-family: Verdana;
}
h3{
    font-size: 18px;
}